
.single-product {
  #images {
    .product-image {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 384px;
      border: 1px solid $light-gray;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }

    @include media-breakpoint-up(xl) {
      .col-xl-4 .product-image {
        background-size: cover;
      }
    }
  }

  .attribute-label {
    width: 100%;
    color: $black;
    // border: 1px solid $light-gray;
    border-radius: 0.25rem;
    margin-bottom: 0;
    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid $black;
      color: $white;
    }

    &.selected {
      background-color: $black !important;
      color: $white !important;
    }
  }

  .variations,
  .quantity [name="quantity"] {
    display: none;
  }

  .btn-group-quantity {
    border: 1px solid $black;

    input[type="number"] {
      border: none;
      width: 40px;
      text-align: center;
    }

    .btn {
      border: none !important;
    }

    .btn-outline-black:hover,
    .btn-outline-black:focus {
      background-color: $white;
      color: $black;
      border-color: $black;
      box-shadow: none;
    }

    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  .cart {
    button[type="submit"]:hover,
    button[type="submit"]:focus {
      @extend .z-depth-1;
    }

    .single_add_to_cart_button::after {
      display: none;
    }

    .added_to_cart {
      display: none;
    }

    #sticky-add-to-cart {
      @include media-breakpoint-down(md) {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid $light-gray;
        z-index: 2;
      }
    }
  }

  // .amount {
  //   font-size: 1.25rem;
  // }

  // #reviews {
  //   #comments ol.commentlist {
  //     padding: 0;
  //   }

  //   .woocommerce-review__author {
  //     text-transform: capitalize;
  //   }

  //   .woocommerce-Reviews-title {
  //     font-size: 1rem;
  //     margin-bottom: 1rem;
  //   }
  // }

  &.woocommerce button.button {
    @extend .btn;
    @extend .btn-primary;
  }
}
