
.template-home {
  #hero-carousel .carousel-item {
    height: calc(100vh - 136px);
    background-size: cover;
    background-position: center;

    @include media-breakpoint-up(lg) {
      height: calc(100vh - 128px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  #questions {
    background-size: cover;
    background-position: center;
  }

  #reviews {
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(100%);
    }

    .carousel-indicators {
      bottom: -4rem;

      li {
        box-shadow: inset 0 0 0 2px $black;
      }
    }
  }
}
