
.modal-open {
  padding-right: 0 !important;
  overflow: initial;
}

.modal-full-screen {
  margin: 0;
  height: 100vh;
  max-width: initial;

  .modal-body {
    padding: 0;
  }
}

.modal-open .modal {
  padding-right: 0 !important;
}
