
.product-card .product-img {
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

// .single-product {
//   .categories a {
//     font-weight: bold;
//     text-transform: uppercase;
//     color: $dark-gray;
//   }

//   .star-rating span {
//     /* stylelint-disable font-family-no-missing-generic-family-keyword */
//     font-family: star;

//     &::before {
//       color: $yellow;
//     }
//   }

//   .variations {
//     .dropdown-toggle[aria-expanded="true"] {
//       border-top-left-radius: 30px;
//       border-top-right-radius: 30px;
//       border-bottom-left-radius: 0;
//       border-bottom-right-radius: 0;
//       border: 3px solid $black;
//     }

//     .dropdown-toggle:focus {
//       box-shadow: none !important;
//     }

//     .dropdown-menu {
//       background-color: $black;
//       width: 100%;
//       border-top-left-radius: 0;
//       border-top-right-radius: 0;
//       border-bottom-left-radius: 30px;
//       border-bottom-right-radius: 30px;
//       padding: 0;
//       margin: 0;
//       margin-top: -2px;

//       .dropdown-item {
//         color: $white;
//         font-weight: 700;
//         text-transform: uppercase;
//         text-align: center;
//         margin-bottom: 0;

//         &:hover,
//         &:focus {
//           color: $white;
//           background-color: transparent;
//         }

//         input {
//           display: none;
//         }
//       }

//       label {
//         cursor: pointer;
//       }
//     }
//   }

//   .btn-group-quantity {
//     border: 2px solid $black;

//     input[type="number"] {
//       border: none;
//       width: 40px;
//       text-align: center;
//     }

//     .btn {
//       border: none !important;

//       &:first-child {
//         border-top-left-radius: 70px;
//         border-bottom-left-radius: 70px;
//       }

//       &:last-child {
//         border-top-right-radius: 70px;
//         border-bottom-right-radius: 70px;
//       }
//     }

//     .btn-outline-black:hover,
//     .btn-outline-black:focus {
//       background-color: $white;
//       color: $black;
//       border-color: $black;
//       box-shadow: none;
//     }
//   }

//   .price {
//     // font-size: 1.25rem;
//     font-weight: bold;

//     .amount {
//       font-size: 2rem;
//       color: $black;
//     }
//   }

//   .carousel-control-prev-icon::before,
//   .carousel-control-next-icon::before {
//     color: $black;
//     font-weight: bold;
//     font-size: 2rem;
//     position: relative;
//     top: -1rem;
//   }

//   .carousel-control-prev-icon::before {
//     content: "〈";
//   }

//   .carousel-control-next-icon::before {
//     content: "〉";
//   }

//   #certs {
//     position: relative;

//     &::before {
//       content: "";
//       display: block;
//       position: absolute;
//       top: 0;
//       right: 0;
//       height: 100%;
//       width: 100%;
//       background-repeat: no-repeat;
//       background-position: right;
//     }
//   }
// }
