
#quickViewModal {
  .close[type="button"] {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    font-size: 1.5rem;

    span {
      font-size: 3rem;
    }
  }

  .amount {
    font-weight: bold;
    font-size: 1.75rem;
  }

  .added_to_cart {
    display: none;
  }
}
