
.woocommerce-message {
  border-top-color: $green;
  border-radius: 0.25rem;

  @extend .bg-white;
  @extend .z-depth-1;

  a.button {
    @extend .btn;
    @extend .btn-black;
    @extend .btn-rounded;
  }

  &::before {
    color: $green;
  }
}

.woocommerce-breadcrumb {
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 0 !important;
  text-transform: uppercase !important;
  color: #000;

  @extend .container;
  @extend .container-big;
  @extend .font-weight-bold;

  a {
    margin-right: 0.25rem !important;

    @extend .text-dark-gray;
  }
}

.woocommerce button.button {
  @extend .btn;
  @extend .btn-primary;
}

.woocommerce #respond input#submit {
  @extend .btn;
  @extend .btn-primary;
}
