
.text-primary {
  color: map-get($theme-colors, "primary") !important;
}

.text-secondary {
  color: map-get($theme-colors, "secondary") !important;
}

.text-green {
  color: $green !important;
}

.text-light-green {
  color: $light-green !important;
}

.text-yellow {
  color: map-get($theme-colors, "yellow") !important;
}

.text-true-black {
  color: map-get($theme-colors, "true-black") !important;
}

.text-black {
  color: map-get($theme-colors, "black") !important;
}

.text-white {
  color: map-get($theme-colors, "white") !important;
}

.text-dark-gray {
  color: map-get($theme-colors, "dark-gray") !important;
}

.text-gray {
  color: map-get($theme-colors, "gray") !important;
}

.bg-primary {
  background-color: map-get($theme-colors, "primary") !important;
}

.bg-secondary {
  background-color: map-get($theme-colors, "secondary") !important;
}

.bg-yellow {
  background-color: map-get($theme-colors, "yellow") !important;
}

.bg-true-black {
  background-color: map-get($theme-colors, "true-black") !important;
}

.bg-black {
  background-color: map-get($theme-colors, "black") !important;
}

.bg-white {
  background-color: map-get($theme-colors, "white") !important;
}

.bg-gray {
  background-color: map-get($theme-colors, "gray") !important;
}

.bg-lightest-gray {
  background-color: map-get($theme-colors, "lightest-gray") !important;
}

.bg-green {
  background-color: $green;
}

.bg-light-green {
  background-color: $light-green;
}

.bg-yellow-gradient-orange {
  background: linear-gradient(to top right, $yellow 0, $orange 100%);
}

.bg-green-gradient-light-green {
  background: linear-gradient(to top right, $green 0, $light-green 100%);
}

.border-bottom-dark-gray {
  background-color: map-get($theme-colors, "dark-gray") !important;
}
